<script type="text/javascript">
var id = <?=max(0,intval($this->model->id));?>;
var user_id = '<?=$this->model->user_id;?>';
var code = '<?=$this->model->code;?>';
var interbullnummer = '<?=$this->model->interbullnummer;?>';
var response = '<?=str_replace(array("\r\n", ), '', $this->model->response);?>';
var xml = '<?=$this->model->xml?>';
var foutmelding = "<?=str_replace(array("\r\n","\n",'"' ), '', $this->model->foutmelding)?>";
var tijd = '<?=$this->model->tijd?>';

Ext.onReady(function(){

	var simple = Ext.create('Ext.form.Panel', {
		url:base+'/user/save/json/true',
		renderTo:'formHolder',
		frame:true,
		title: 'Server log',
		bodyStyle:'padding:5px 5px 0',
		width: '100%',
		fieldDefaults: {
			msgTarget: 'side'
		},
		defaultType: 'textfield',
		defaults: {
			anchor: '100%'
		},

		items: [{
	    xtype:'hidden',
		fieldLabel: 'id',
		name: 'id',
		value:id,
		allowBlank:false
        },{
	    fieldLabel: 'Naam',
	    name: 'user_id',
	    value:user_id,
	},{
	    fieldLabel: 'code',
	    name: 'code',
	    value:code,
	},{
	    fieldLabel: 'tijd',
	    name: 'tijd',
	    value:tijd
	},{
	    fieldLabel: 'interbullnummer',
	    name: 'interbullnummer',
	    value:interbullnummer
	},{
	    fieldLabel: 'response',
	    name: 'response',
	    value:response,
		xtype:'textareafield',
		grow:true
	},{
	    fieldLabel: 'foutmelding',
	    name: 'foutmelding',
	    value:foutmelding,
		xtype:'textareafield',
		grow:true
	},{
	    fieldLabel: 'xml',
	    name: 'xml',
	    value:xml,
		xtype:'textareafield',
		grow:true
	}],

		buttons: [{
		text: 'Save',
		formBind: true, //only enabled once the form is valid
		disabled: true,
		handler: function() {
			var form = simple.getForm();
		// if (form.isValid()) {
				form.submit({
					success: function(form, action) {
					redirect('user')

					},
					failure: function(form, action) {
						Ext.Msg.alert('Failed', action.result.msg);
					}
				});
			//}
		}
	}]
	});
});
</script>
<div id="formHolder"></div>