<div>
<div id="formgrid"></div>
</div>
<script type="text/javascript">
Ext.onReady(function(){
var panel = Ext.create('Ext.grid.Panel', {
    title: 'Server log',
    store: Ext.getStore('serverlog_list_errors'),
    columns: [ //'id', 'created', 'interbullnummer', 'name','geslacht'
        { header: 'id',  dataIndex: 'id', hidden:true },
        { header: 'Gebruiker',  dataIndex: 'naam',flex:1 },
		{ header: 'Interbullnummer',  dataIndex: 'interbullnummer', flex:1,renderer:
                    function (value) {
						if( value != null ){
							if(value.substr(3,1) == 'M'){
								return '<a target="_blanc" href="'+base+'/stieren/view/itb/'+value+'">'+value+'</a>';
							}
						}
						return value;
					} },
        { header: 'Status',  dataIndex: 'code', flex:1},
        { header: 'Datum',  dataIndex: 'tijd', flex:1 },
		
        
    ],

    renderTo: 'formgrid',
	listeners: {

	},
	viewConfig: {
			getRowClass: function(record) {
				
				if(record.data.code == '201'){
					return 'retgreen';
				}
				return 'retred';
			}
		},
		listeners: {
			itemdblclick: function(view, record, item, index, e, eOpts) {
				redirect('log/edit/id/'+record.data.id);
			}
		}

});


panel.store.load();

});
</script>
