<div>
<div id="nowPlayingHolder">Now playing: <span id="nowPlaying">#songname</span></div><br/>
<div id="formgrid"></div><br/>
<div id="uploadSong"></div><br/>
<div id="library"></div><br/>
</div>
<script type="text/javascript">
	var library_grid;
	function searchOnChange(){
             count = 0;

         library_grid.view.refresh();

         library_grid.searchValue = regsearch();
         library_grid.indexes = [];
         library_grid.currentIndex = null;

         if (library_grid.searchValue !== null) {
             library_grid.searchRegExp = new RegExp(library_grid.searchValue, 'gi');
             
             
             library_grid.store.each(function(record, idx) {
                 var td = Ext.fly(library_grid.view.getNode(idx)).down('td'),
                     cell, matches, cellHTML;
                 while(td) {
                     cell = td.down('.x-grid-cell-inner');
                     matches = cell.dom.innerHTML.match(library_grid.tagsRe);
                     cellHTML = cell.dom.innerHTML.replace(library_grid.tagsRe, library_grid.tagsProtect);
                     
                     // populate indexes array, set currentIndex, and replace wrap matched string in a span
                     cellHTML = cellHTML.replace(library_grid.searchRegExp, function(m) {
                        count += 1;
                        if (Ext.Array.indexOf(library_grid.indexes, idx) === -1) {
                            library_grid.indexes.push(idx);
                        }
                        if (library_grid.currentIndex === null) {
                            library_grid.currentIndex = idx;
                        }
                        return '<span class="' + library_grid.matchCls + '">' + m + '</span>';
                     });
                     // restore protected tags
                     Ext.each(matches, function(match) {
                        cellHTML = cellHTML.replace(library_grid.tagsProtect, match); 
                     });
                     // update cell html
                     cell.dom.innerHTML = cellHTML;
                     td = td.next();
                 }
             }, library_grid);

             // results found
             if (library_grid.currentIndex !== null) {
                 library_grid.getSelectionModel().select(library_grid.currentIndex);
             }
         }

         // no results found
         if (library_grid.currentIndex === null) {
             library_grid.getSelectionModel().deselectAll();
         }

         // force textfield focus
         Ext.getCmp('search_field').focus();
		 }
function regsearch() {
        var me = library_grid,
		value = Ext.getCmp('search_field').getValue();
        if (value === '') {
            return null;
        }
		value = value.replace(me.regExpProtect, function(m) {
			return '\\' + m;
		});
        
        var length = value.length,
            resultArray = [me.tagsProtect + '*'],
            i = 0,
            c;
            
        for(; i < length; i++) {
            c = value.charAt(i);
            resultArray.push(c);
            if (c !== '\\') {
                resultArray.push(me.tagsProtect + '*');
            } 
        }
        return resultArray.join('');
    }
var msg = function(title, msg) {
	Ext.Msg.show({
		title: title,
		msg: msg,
		minWidth: 200,
		modal: true,
		icon: Ext.Msg.INFO,
		buttons: Ext.Msg.OK
	});
};
var queue_grid;
var p;
var current = 0;
var max = 1;
var goodcount =0;
var maxgoodcount = 5;
Ext.onReady(function(){

queue_grid = Ext.create('Ext.grid.Panel', {
    title: 'Queue',
    store: Ext.getStore('queue_list'),
	height:250,
    columns: [ //['id', 'title', 'name', 'genre']
        { header: 'id',  dataIndex: 'id', hidden:true },
        { header: 'title',  dataIndex: 'title',flex:1 },
		{ header: 'Artist',  dataIndex: 'name',	renderer: 
					function (value) {
						if( value == null ){
								return 'Unknown';
						}
						return value;
					} },
        { header: 'Genre',  dataIndex: 'genre', flex:1,	renderer: 
					function (value) {
						if( value == null ){
								return 'Unknown';
						}
						return value;
					} 
		}],
    renderTo: 'formgrid'
});

queue_grid.store.load();
library_grid = Ext.create('Ext.grid.Panel', {
	indexes: [],
	currentIndex: null,
	matchCls: 'x-livesearch-match',
	tagsProtect: '\x0f',
    title: 'Song library',
	height:500,
	tbar: [{
				'id':'queue_add',
				text:'Add to queue',
				handler:function(){
						var sel = library_grid.getSelectionModel().selected;

						if(sel.length == 1){
							var vars = {
								song_id:sel.items[0].data.id
							}
							ajaxRequest('queue/addsong', vars,function(){queue_grid.store.load();});
							setTimeout(function(){
								Ext.getCmp('queue_add').disable();
							}, 5000);
						}
				}
			},'Search',{
                 xtype: 'textfield',
                 name: 'searchField',
				 id:'search_field',
                 hideLabel: true,
                 width: 200,
                 listeners: {
                     change: {
                         fn: searchOnChange,
                         scope: this,
                         buffer: 100
                     }
                 }
            }, {
                xtype: 'button',
                text: '<',
                tooltip: 'Find Previous Row',
                handler: function(){
					var idx;

					if ((idx = Ext.Array.indexOf(library_grid.indexes, library_grid.currentIndex)) !== -1) {
						library_grid.currentIndex = library_grid.indexes[idx - 1] || library_grid.indexes[library_grid.indexes.length - 1];
						library_grid.getSelectionModel().select(library_grid.currentIndex);
					}
				}			 
			},{
                xtype: 'button',
                text: '>',
                tooltip: 'Find Next Row',
                handler: function(){
					var idx;
             
         if ((idx = Ext.Array.indexOf(library_grid.indexes, library_grid.currentIndex)) !== -1) {
            library_grid.currentIndex = library_grid.indexes[idx + 1] || library_grid.indexes[0];
            library_grid.getSelectionModel().select(library_grid.currentIndex);
         }}//me.onNextClick,
			}],
    store: Ext.getStore('song_library'),
    columns: [ //['id', 'title', 'name', 'genre']
        { header: 'id',  dataIndex: 'id', hidden:true },
        { header: 'title',  dataIndex: 'title',flex:1 },
		{ header: 'Artist',  dataIndex: 'name',	renderer: 
					function (value) {
						if( value == null ){
								return 'Unknown';
						}
						return value;
					} },
        { header: 'Genre',  dataIndex: 'genre', flex:1,	renderer: 
					function (value) {
						if( value == null ){
								return 'Unknown';
						}
						return value;
					} 
		}
    ],

    renderTo: 'library',
	listeners: {

		itemclick:function(){
			//var d =(panel.getSelectionModel().selected.items[0].data);
			Ext.getCmp('queue_add').enable();
		}
	}
});
Ext.create('Ext.form.Panel', {
	 renderTo: 'uploadSong',
	 width: 500,
	 frame: true,
	 title: 'Upload MP3',
	 bodyPadding: '10 10 0',
	 defaults: {
		 anchor: '100%',
		 //allowBlank: false,
		 msgTarget: 'side',
		 labelWidth: 50
	 },
	 items: [{
		 xtype: 'filefield',
		 id: 'form-file',
		 emptyText: 'Select a MP3-file',
		 fieldLabel: 'MP3',
		 name: 'song_file',
		 buttonText: '',
		 buttonConfig: {
			 iconCls: 'upload-icon'
		 }
	 }],

	 buttons: [{
		 text: 'Upload',
		 handler: function(){
			 var form = this.up('form').getForm();
			// if(form.isValid()){
				 form.submit({
					 url: base+'/song/upload',
					 waitMsg: 'Uploading your song...',
					 success: function(fp, o) {
						 msg('Success', 'Response:<br/>' + o.result.message + '');
						 form.reset();
						 library_grid.store.load();
					 }
				 });
			 //}
		 }
	 }]
 });

queue_grid.store.load();
library_grid.store.load();
setInterval(function() {
      queue_grid.store.load();
}, 30000);

});
setInterval(function(){
	ajaxRequest('song/nowplaying',{},function(resp){
		$('#nowPlaying').html((resp.responseText));
	});
}
,5000);

</script>
