<div class="navbox">
<ul class="nav">
	<?
	foreach($this->menuItems as $page=>$item){
	echo '<li>',
			'<a href="',$this->baseurl($item['link']),'" class="',($this->active == strtolower($item['link'])) ? 'active' :'','">',
				$item['name'],
			'</a>',
		'</li>';
	}
	?>
</ul>
</div>