.x-livesearch-match {
font-weight: bold;
background-color: yellow;
}
.retyellow td{
	background-color:#eeee99 !important;
}
.retgreen td{
	background-color:#99ee99 !important;
}
.retred td{
	background-color:#FF6E6E !important;
}
.retblue td{
	background-color:#9999ee !important;
}

html{
}
div.emperor-pedigree		{ border: solid 1px #ccc; padding: 15px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
 }
div.emperor-pedigree + p	{ margin-top: 2em; }
.navbox {
	position: relative;
	float: left;
}

ul.nav {
	padding-left:0px;
	list-style: none;
	display: block;
	position: relative;
	top: 0px;
	left: 0px;
	padding-bottom: 10px;
	background:  no-repeat;/* url(shad2.png) */
	-webkit-background-size: 50% 100%;
}

li {
	margin: 5px 0 0 0;
}

ul.nav li a {
	-webkit-transition: all 0.3s ease-out;
	background: #E6E6E6  no-repeat;/* url(border.png) */
	color: #174867;
	padding: 7px 15px 7px 15px;
	-webkit-border-top-right-radius: 10px;
 	-webkit-border-bottom-right-radius: 10px;
	width: 125px;
	display: block;
	text-decoration: none;
	-webkit-box-shadow: 2px 2px 4px #888;
}

ul.nav li a:hover, ul.nav li a.active {
	background: #E6E6E6  no-repeat;/* url(border.png) */
	color: #aaa;
	padding: 7px 15px 7px 30px;
}
