<div>
<div id="timer"></div><br/>
<div id="formgrid"></div>
</div>
<script type="text/javascript">
var panel;
var p;
var current = 0;
var max = 1;
var goodcount =0;
var maxgoodcount = 5;
Ext.onReady(function(){
    
p = Ext.create('Ext.ProgressBar', {
   renderTo: 'timer',
   width: '100%'
});

// Wait for 5 seconds, then update the status el (progress bar will auto-reset)

panel = Ext.create('Ext.grid.Panel', {
    title: 'Wachtrij server',
    store: Ext.getStore('queue_list'),
    columns: [ //'id', 'created', 'interbullnummer', 'name','geslacht'
        { header: 'id',  dataIndex: 'id', hidden:true },
        { header: 'created',  dataIndex: 'created',flex:1 },
		{ header: 'geslacht',  dataIndex: 'geslacht', flex:1 },
        { header: 'interbullnummer',  dataIndex: 'interbullnummer', flex:1,	renderer: 
					function (value) {
						if( value != null ){
							if(value.substr(3,1) == 'M'){
								return '<a target="_blanc" href="'+base+'/stieren/view/itb/'+value+'">'+value+'</a>';
							}
						}
						return value;
					} 
		},
        { header: 'name',  dataIndex: 'name', flex:1 },
        { header: 'status',dataIndex:'status' },
		
        
    ],

    renderTo: 'formgrid',
	tbar: [{
				'id':'queue_delete',
				text:'Item verwijderen',
				disabled:true,
				handler:function(){
						var sel = panel.getSelectionModel().selected;

						if(sel.length == 1){
							var vars = {
								id:sel.items[0].data.id
							}
							ajaxRequest('queue/delete', vars,function(){panel.store.load();});
							Ext.getCmp('queue_delete').disable();
						}
				}
			},{
				'id':'queue_send',
				text:'Stuur naar server',
				handler:function(){

					panel.store.each(function(rec){
						console.log('adding to queue: '+rec.data.interbullnummer);
						ajaxManager.addToQueue({
							type: 'POST',
							url: base+'/queue/update/id/'+rec.data.id+'/json/true',
							//params: params,
							success: function(data, textStatus, jqXHR){
                                                                current++;
								console.log(data);
								console.log(textStatus);
								rec.data.status = 's: '+data;
                                                                p.updateProgress( current/max, current +' van de ' + max, true );
                                                                panel.getView().refresh();
							},
							error: function(xhr, error){
								rec.data.status = 'Failed';
                                                                current++;
                                                                p.updateProgress( current/max, current +' van de ' + max, true );
                                                                panel.getView().refresh();
							}
						});
						
					});
					console.log('starting!');
                                        ajaxManager.setDelay(3000);
					ajaxManager.start();
				}
			}],
	listeners: {

		itemclick:function(){
			//var d =(panel.getSelectionModel().selected.items[0].data);
			Ext.getCmp('queue_delete').enable();
		}
	},
	viewConfig: {
			getRowClass: function(record) {

				if(record.data.status == 's: 201'){
					return 'retgreen';
				}
				if(record.data.status == 'Gevonden, Geen update'){
					return 'retyellow';
				}
				if(record.data.status == 's: Error!' || record.data.status == 'Failed'){
					return 'retred';
				}
				return '';
			}
		} 

});

panel.store.on('load', function(ds){ 
        panel.setTitle('Wachtrij server (' + panel.store.getTotalCount()+ ')');
        max = panel.store.getTotalCount();
});
panel.store.load();
});

</script>
