<form id="login" action="<?= $this->element->getAction(); ?>"
                 method="<?= $this->element->getMethod(); ?>">
<p>
E-mail Address<br />
<?= $this->element->email; ?>
</p>
<p>
Password<br />
<?= $this->element->pswd; ?>
</p>
<p>
Keep me logged-in for two weeks<br />
<?= $this->element->public; ?>
</p>
<p>
<?= $this->element->submit; ?>
</p>
</form>