<?php
echo $this->doctype();
$this->headMeta()->appendHttpEquiv('Content-Type',
                                   'text/html; charset=UTF-8');
$this->headScript()
	->prependFile($this->baseUrl('scripts/jukebox/tools.js'))
	->prependFile($this->baseUrl('scripts/jukebox/jquery-1.9.1.min.js'))
	->prependFile($this->baseUrl('scripts/jukebox/datamodels.js'))
	->prependFile($this->baseUrl('scripts/ext-4.2.0.663/ext-all.js'));

$this->headScript()->appendFile($this->baseUrl('scripts/jukebox/menu.js'));
$this->headLink()
	//->appendStylesheet($this->baseurl('scripts/ext-4.1.0-rc3/resources/css/ext-all.css'))
	->appendStylesheet($this->baseUrl('scripts/ext-4.2.0.663/resources/css/ext-all-gray.css'))
	->appendStylesheet($this->baseUrl('css/site.css'));
?>
<html> 
<head>
    <script type="text/javascript">
	var base = '<?=$this->baseUrl();?>';
	var linkHandler= function(btn){
	    if(btn.link != null){
			document.location = base +'/'+ btn.link;
	    }
	};
	var menuItems = [<?php
		if($this->user['authenticated']){
			$mi = array();
			if(isset($this->user['modules'])){
				foreach($this->user['modules'] as $m){
					$mi[] = '{text:"'.$m['name'].'",link:"'.$m['url'].'",handler:linkHandler}';
				}
			}
			echo join(', ', $mi);
		}
	?>];
    </script>
	<style type="text/css">
		*{font-size:12px;}
	</style>
    <?php  
	echo $this->headTitle();
    echo $this->headMeta();
	echo $this->headLink();
	echo $this->headStyle();
	echo $this->headScript();
  
    


    ?>

</head>
<body style="padding:0px;margin:0px;">
    <div id="container" style="width:1000px; margin:0px auto; overflow:hidden;">
	<div style="float:left; overflow:hidden; width:100%;">
		
	    <div style="width:100%; height:80px; text-align:right; background:url(<?=$this->baseurl('images/header2.png');?>);">
			<span style="position:relative;">
			</span>
		</div>

	    <div style="width:100%; height:35px; text-align:center;">
			<div id="divtopmenu" style="overflow:hidden;"></div>
			<div id="divtoolbar" style="overflow:hidden;"></div>
	    </div>
	</div>
	<div style="float:left; overflow:hidden; width:100%;">
		<div id="crumbpath" style="clear:both;">
			<a href="http://213.148.244.102:8000/live.ogg.m3u" style="display:inline;" target="_blanc" ><br/>
												Tune in!
											</a>
		</div>
		<!--<img style="width:64px;height:64px;" src="<?=$this->baseurl('images/radio.png');?>"/>-->
	    <div style="overflow:hidden;">
			<div><?php echo $this->layout()->content; ?></div>
	    </div>
	</div>


    </div>
</body>
</html>
